emnist==0.0
h5py==2.10.0
imbalanced-learn==0.4.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.1.0
numpy==1.16.4
opencv-python==4.1.0.25
pickleshare==0.7.4
Pillow==8.1.1
scikit-image==0.15.0
scikit-learn==0.21.2
tensorflow==2.0.1